<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 
		v-for : 특정 엘리먼트나 데이터를 반복하고 싶을 때
			- 배열 기반의 리스트 출력
			- 템플릿 반복
			- 객체의 프로퍼티 순회
			
		List Rendering(리스트 렌더링)
			- 배열에 들어있는 데이터를 반복하면서 화면에 표시해 주는 것
	 -->
	 
	 <div class="container">
<!-- 	 	<h2> 1~10까지의 정수 리스트</h2> -->
<!-- 	 	<ul> -->
<!-- 	 		<li v-for = "i in 10"> {{i}} </li> -->
<!-- 	 	</ul> -->
		<!--  *리스트의 i는 1부터 시작! -->
		<h2>v-for directive 구구단</h2>
	 	<ul>
	 		<template v-for="i in 8">  1~8 
	 			<li v-for="j in 9"> 1~9
	 				{{ i + 1}} * {{ j }} = {{ (i + 1) * j }}
	 			</li>
	 			<br>
	 		</template>
	 	</ul>
	 	
	 	
	 </div>
</body>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">
	new Vue({
		el : '.container'
	})
</script>
</html>




