<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<!-- 
		버튼 클릭 시 해당 컴포넌트의 수량 감소
		수량이 0 이면 해당 버튼 비활성화
	 -->
	 <div class="container">
	 	<div id="app">
	 		<shoes-component v-for="sh in brands" :shoesss="sh"></shoes-component>
	 	</div>
	 </div>
	 
	 <template id="shoes-template">
	 	<div class="thumbnail">
	 		<div class="caption">
	 			<h3> {{shoesss.productName }}</h3>
	 			<p> 수량 : {{shoesss.quantity}}</p>
	 			<p>
	 				<button class="btn btn-primary" 
	 					@click="buy" :disabled="!available">
	 				구매
	 				</button>
	 			</p>
	 		</div>
	 	</div>
	 </template>
	 
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">
	
	Vue.component('shoes-component', {
		template : '#shoes-template',
		props : ['shoesss'],
		methods : {
			buy : function(){
				this.shoesss.quantity--;
			}
		},
		computed : {
			available : function(){
				return this.shoesss.quantity > 0
			}
		}
	})



	new Vue({
		el : '#app',
		data : {
			brands : [
				{
					productName : '조던',
					quantity : 1
				},
				{
					productName : '독일군',
					quantity : 30
				},
				{
					productName : '발렌시아가',
					quantity : 40
				},
				{
					productName : '골든구스',
					quantity : 25
				}
			]
		}
	})
</script>
</html>





